  version: "3.8"
  
  services:
    api:
      build:
        context: .
        dockerfile: Api/Dockerfile
      ports:
        - "8080:8080"
      environment:
        ASPNETCORE_ENVIRONMENT: Development
        DOTNET_RUNNING_IN_CONTAINER: "true"
      depends_on:
        - db
      restart: unless-stopped
    
    db:
      image: postgres:16-alpine
      environment:
        POSTGRES_DB: room_booking
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: dentager2005
      volumes:
        - db_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres -d room_booking -h localhost || exit 1"]
        interval: 5s
        timeout: 3s
        retries: 10
      ports:
        - "5432:5432"
      restart: unless-stopped
  
  volumes:
    db_data:
