services:
  nginx:
    image: nginx:alpine
    ports:
      - "18473:18473"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
    depends_on:
      - api
    restart: unless-stopped
  api:
    image: dentager/room-booking:latest
    expose:
      - "8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      DOTNET_RUNNING_IN_CONTAINER: "true"
      ASPNETCORE_URLS: "http://+:8080"
    depends_on:
      - db
      - redis
    restart: unless-stopped
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: room_booking
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: dentager2005
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d room_booking -h localhost || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
    ports:
      - "25432:5432"
    restart: unless-stopped
  redis:
    image: redis:7-alpine
    ports:
      - "26379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped

volumes:
  db_data:
  redis_data: